body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(woman-with-backpack-slide.jpg);
    color: white;
}

h1, h2 {
    font-family: 'Helvetica', sans-serif;
}

header {
    background-color: #162c75;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: fit-content;
}

header .logo {
    width: 160px;
}

header .association-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 4px;
}

header nav ul li a:hover {
    background-color: #f4f4f4;
    color: #162c75;
}

#nosevenements {
    padding: 20px;
    background-color: transparent;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#nosevenements h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#nosevenements ul {
    list-style-type: none;
    padding: 0;
}

#nosevenements ul li {
    font-size: 2rem;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

#nosevenements ul li:last-child {
    border-bottom: none;
}

/* footer {
    background-color: #162c75;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 1rem;
} */

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    #nosevenements {
        margin: 10px;
    }

    #nosevenements h2 {
        font-size: 1.6rem;
    }
}
